<html>
    <head>
        <title>Author Page</title>
        <link href="css/custom.css" rel='stylesheet' type="text/css">
        <link href="../../css/custom.css" rel='stylesheet' type="text/css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class = "container">
            <h1>{{ author.getName }}</h1>
            <div class = "col-xs-8">

                    {% if books is not empty %}
                        <ul>
                            {% for book in books %}
                            <li>
                                <a href = '/book/{{ book.getId }}'>{{ book.getTitle }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <form action="/author/{{ author.getId }}/add_book" method="post">
                        <input id="id" name="id" type="hidden" value="{{ book.getId() }}">
                        <label for="title">Enter a new book:</label>
                        <input id="title" name="title" type="text">
                        <button type="submit" class="btn btn-info btn-md">Add book</button>
                    </form>

                    <h4>Update Author</h4>
                    <form action="/author/{{ author.getId }}" method="post">
                        <input name="_method" type="hidden" value="patch">
                        <label for="title">Rename the author:</label>
                        <input id="name" name="title" type="text">
                        <button name="submit" class="btn btn-info">Update</button>
                    </form>


                    <br>
                    <h4>Delete this author?</h4>
                    <form action="/author/{{ author.getId }}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn-xs btn-danger">DELETE</button>
                    </form>
            </div>



            <div class="col-xs-4">
                <br>
                <form action="/" method="get">
                    <button type="submit" class="btn-lg" style="background-color:white; width:250px">HOME</button>
                </form>
                <form action="/main_admin" method="get">
                    <button type="submit" class="btn-lg btn-danger" style="width:250px">Librarian Log-in</button>
                </form>
                <form action="/courses" method="get">
                    <button type="submit" class="btn-lg btn-primary" style="width:250px">Find a Book!</button>
                </form>
                <form action="/main_admin">
                    <button type="submit" class="btn-lg btn-default">Back</button>
                </form>
            </div>
        </div>
    </body>
</html>
